@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.hero_section {
  height: 600px;
  background: url(../../assets/images/Hero_banner/Hero_banner.png);
  background-position: center;
  background-size: cover;
  background-size: cover;
  background-blend-mode: overlay;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  
}

.hero_text {
  color: #fffffff6;
  max-width: 600px;
  z-index: 1;
  margin-top: 20px;
  /* transform: translateY(20px); */
  opacity: 0;
  transition:  opacity 8s ease;
}

/*animatin styles*/
.animated{
  /* transform: translateY(0px); */
  opacity: 1;
}

.greetings {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.addressing {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;

}

.addressing h1 {
  color: rgba(0, 255, 255, 0.856);
  font-size: 38px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  letter-spacing: 2px;
}

.addressing p {
  font-size: 25px;
  position: relative;
}

.addressing span {
  position: relative;
  color: rgb(255, 127, 68);
  font-weight: bold;
}

.addressing .stars_animation{
  color: #fff;
  position: absolute;
  top: -15px;
  animation: beep 3s linear infinite;
}

@keyframes beep {
  0% {
    color: none;
  }
50%{
  color: rgb(3, 18, 18);
  filter: drop-shadow(0px 0px 3px rgb(3, 18, 18));
}
  100% {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 5px rgb(228, 207, 207));
  }
}

.addressing small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.795);
}

.addressing small .read_more_btn {
  background: #fff;
  color: rgb(34, 44, 76);
  padding: 2px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.addressing small .read_more_btn:hover {
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.849);
}

/** Hero css Social Btn start**/

.hero_social_btn {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  transform:  translateX(-300px);
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
}

.socialBtn_animated{
  transform:  translateX(0px);
  opacity: 1;
}
.hero_social_btn a {
  font-size: 25px;
  padding: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #1ccbe2;
  transition: all 0.3s ease;
}

.hero_social_btn a:hover {
  box-shadow: 2px 2px 20px #1ccbe2;
}

/** Hero css Social Btn end**/

.download_resumeBtn {
  margin: 30px 0px 0px 0px;
  transform:  translateY(30px);
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
}

.resumeBtn_animated{
  transform:  translateY(0px);
  opacity: 1;
}

.download_resumeBtn a button {
  padding: 8px 20px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1px;
  transition: all 0.8s ease;
  background-color: #ffffff;
}

.download_resumeBtn a button:hover {
  box-shadow: 3px 3px 10px #ffffff;
}

/**Hero img css start**/
.hero_img {
  margin-left: 200px;
  z-index: 0;
  position: relative;
}

.hero_img img {
  height: 350px;
  width: 340px;
  margin-top: 33px;
  opacity: 0.9;
  box-shadow: 0px 0px 40px rgb(5, 48, 29);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 0px 20px rgba(159, 228, 176, 0.795);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px double teal;
  border-width: 7px;
}


@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translateY(-70px) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
  }

  .hero_text {
    z-index: 1;
  }

  .greetings {
    font-size: 22px;
  }

  .addressing {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
  }

  .addressing h1 {
    color: rgba(0, 255, 255, 0.856);
    font-size: 30px;
    font-weight: 300;
  }

  .addressing p {
    font-size: 22px;
  }

  .addressing small {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.61);
  }

  .hero_social_btn a {
    z-index: 1;
  }

  .hero_img {
    position: absolute;
    bottom: -1px;
    right: -180px;
    z-index: 0;
    opacity: 0.4;
  }

  .hero_img img {
    height: 90vh;
    width: auto;
  }
}
