
/* font-family Roboto  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

.flex {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.skills_container {
  color: #fff;
  background: rgba(17, 73, 87, 0.918);
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 15px;
  font-family: "Roboto", sans-serif;
}


.skills_text {
  position: relative;
}
.skills_text::before {
  content: " ";
  position: absolute;
  left: -20px;
  top: -10px;
  width: 1px;
  height: 50%;
  background: #22b1814b;
}
.skills_text small {
  color: #ffffff8c;
}
.skills_text h2 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
  color: #fff;
  letter-spacing: 1px;
  padding: 2px 0px;
}
.skills_text p {
  max-width: 350px;
  padding: 10px 0px;
  color: #ffffffe7;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.skills_text img {
  height: 180px;
  width: 300px;
}

.skills_bar_container {
  position: relative;
}

.skills_bar_container .skill_box {
  width: 350px;
  margin: 20px 0px 0px 0px;
}

.skill_box .title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.skill_box .skill_bar {
  height: 5px;
  width: 300px;
  margin-top: 5px;
  background: linear-gradient(
    266deg,
    rgba(4, 149, 104, 1) 22%,
    rgba(77, 81, 186, 0.639093137254902) 49%,
    rgba(221, 36, 192, 1) 90%
  );
}

.skill_bar .skill_per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  background: linear-gradient(
    266deg,
    rgba(119, 4, 149, 1) 22%,
    rgba(186, 168, 77, 0.639093137254902) 49%,
    rgba(36, 216, 221, 1) 90%
  );
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill_per.html {
  width: 90%;
  animation-delay: 0.1s;
}

.skill_per.css {
  width: 70%;
  animation-delay: 0.1s;
}

.skill_per.tailwind {
  width: 55%;
  animation-delay: 0.1s;
}

.skill_per.javascript {
  width: 60%;
  animation-delay: 0.2s;
}

.skill_per.react {
  width: 65%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
