


/*  "Roboto Condensed"; */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* "Inter Tight" */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


  
  .aboutContainer {
    background-color: #fff;
    color: #292424;
    padding: 0px 0px;
  }

  
  .innerContainer {
    padding: 90px 60px;
    overflow-x: hidden;
  }
  
  .innerContainer h2{
    text-align: center;
    margin-bottom: 70px;
  }


  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  
  .content .aboutImg img {
    height: 300px;
    width: 270px;
    border: 1px solid wheat;
    transform: translateX(-130px); 
    transition: transform 3s ease, opacity 3s ease;
    opacity: 0;
  }
  
  .content .aboutImg img.show {
    transform: translateX(0px); 
    opacity: 1;
  }
  
  .content .aboutText {
    text-align: center;
    width: 44%;
  }

  
  .content .aboutText h3{
    color: teal;
  }
  
  .content .aboutText p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: .1px;
    color: #1f1d1d;
    text-align: justify;
    font-size: 17px;
    transform: translateX(140px); 
    transition: transform 3s ease, opacity 3s ease;
    opacity: 0;
  }
  .content .aboutText p.show {
    transform: translateX(0px); 
    opacity: 1;
  }
  
  .content .aboutText p span {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 14px;
  }


  @media screen and (max-width: 1024px) {
    .innerContainer {
      padding: 60px 30px;
    }
    
    .innerContainer h2{
      margin-bottom: 50px;
    }
    .content {
      flex-wrap: wrap;
      gap: 40px;
    }
    .content .aboutText {
      width: 70%;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .innerContainer {
      padding: 50px 20px;
    }
    
    .innerContainer h2{
      margin-bottom: 30px;
    }
    .content {
      flex-wrap: wrap;
      gap: 40px;
    }
  
    .content .aboutText {
      width: 80%;
    }
    
    .content .aboutText p{
      margin-bottom: 30px;

    }
  
  }

  @media screen and (max-width: 480px) {
    .innerContainer h2{
      margin-bottom: 30px;
    }
   
    .content .aboutText {
      width: 100%;
    }
  
  }
  
