


/*  "Roboto Condensed"; */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* "Inter Tight" */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.contact_section {
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact_bg {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(10, 9, 9, 0.5)), url('../../assets/images/contact/ContactMe.png');
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

.contact_bg h2{
  text-align: center;
  margin: -50px 0px 0px;
}

.contact_ways{
  margin: 120px 0px 0px 0px;
  justify-content: space-evenly;
}

.contact_left{
  flex-direction: column;
  align-items: start;
  gap: 40px;
  
}

.contact_greetings{
  margin: 0px 0px 0px 0px;
}
.contact_greetings h3{
  color: rgb(152, 201, 17);
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 5px 10px 5px rgb(29, 27, 27);
}
.contact_greetings p{
  line-height: 30px;
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  text-shadow: 2px 5px 5px rgb(29, 27, 27);
  color: #ffffffe5;
}
.contact_greetings p span{
  color: rgb(36, 205, 255);
  font-size: 22px;
}


.left_bottom{

}

.contact_icon{
  background: teal;
  /* height: 118px; */
  padding: 10px 5px;
  border-radius: 3px;
  flex-direction: column;
  box-shadow: 3px 3px 3px rgba(11, 32, 32, 0.801);
}
.contact_icon span{
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact_icon span:last-child{
  font-size: 21px;
}

.contact_way{
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  gap: 15px;
  font-size: 16px;
  transition: all .3s ease-in-out;
  text-shadow: 8px 5px 5px rgba(0, 0, 0, 0.671);

}

.contact_way b:hover{
  color: rgb(20, 199, 199);
}

/*email form*/

.contact_right{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.03);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 15px 0px;
}
.contact_form{

}
.form_group{}
input[type="text"],
input[type="email"],
input[type="tel"],
#message
{
  width: 300px;
  padding: 5px 10px;
  background:#ffffffc7;
  border: none;
  outline: none;
  color: black;
  border-radius: 2px;

}



.contact_form {
}

.form_group {
  margin: 20px 0px 0px 0px;
}

.submit_btn{
  padding: 5px ;
  width: 100%;
  font-size: 17px;
  color: #fff;
  background: rgba(4, 105, 105, 0.699);
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 3px 3px 2px rgb(4, 54, 54);
  margin-top: 30px;
  cursor: pointer;
  transition: all .4s ease;
}

.submit_btn:hover{
  box-shadow: none;
}





@media screen and (max-width: 1024px) {
  .contact_section {
    padding: 30px 15px;
  }

  h2.title{
    margin-bottom: 50px;
  }
  

  .contact_info {
    display: flex;
    padding-left: 30px;
    gap: 40px;
    flex-wrap: wrap;
  }

}
