

.contact_section {
  background: rgb(2, 15, 19);
  font-family: sans-serif;
  height: 600px;
  padding: 30px 80px;
  color: white;
  border-top: 60px solid rgba(172, 7, 89, 0.781);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

h2.title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.322);
  font-size: 25px;
  border-radius: 3px;
  color: rgb(220, 220, 220);
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-weight: bold;
  box-shadow: 2px 2px 15px rgb(19, 65, 75);
  width: 100%;
  border: none;
  padding: 0px;
  margin-bottom: 100px;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  /* border: 1px solid rgba(16, 93, 107, 0.61); */
  border-radius: 2px;
  width: fit-content;
  color: rgba(233, 225, 231, 0.911);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 3px 5px;
  box-shadow: 2px 2px 15px rgb(19, 65, 75);
}

.title h3 {
}

.title sapn {
  border-right: 1px solid rgba(7, 78, 90, 0.925);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(207, 33, 115, 0.726);
  padding: 3px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.linkedin,
.facebook,
.github {
  display: flex;
  justify-content: center;
  background-color: #4c4e4e;
  border-radius: 3px;
  font-size: 35px;
  box-shadow: 2px 2px 1px rgb(202, 110, 148);
  transition: all 0.5s;
}

.linkedin:hover,
.facebook:hover,
.github:hover {
  box-shadow: 2px 2px 15px rgb(202, 110, 148);
}

.social .linkedin {
  color: rgb(10, 102, 194);
}

.social .facebook {
  color: rgb(8, 102, 255);
  font-size: 31px;
  padding: 2px;
}

/* .social .twittr {
  font-size: 30px;
  color: black;
  font-size: 34px;
}

.social .whatsApp {
  color: rgb(42, 177, 63);
} */

.social .github {
  color: rgb(237, 239, 241);
}

.emailAndPhone {
}

.emailAndPhone a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cccfd1;
  text-decoration: none;
  margin-bottom: -7px;
  letter-spacing: 1px;
}
.emailAndPhone a span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1px;
  border: 1px solid rgb(114, 111, 111);
  border-radius: 3px;
}

.emailAndPhone .email {
  color: rgba(255, 166, 0, 0.692);
}

.emailAndPhone .phone {
  color: rgb(12, 138, 100);
}

.address_info {
  font-size: 18px;
  font-style: normal;
  color: #cccfd1;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: -8px;
}

@media screen and (max-width: 1024px) {
  .contact_section {
    padding: 30px 15px;
  }

  h2.title{
    margin-bottom: 50px;
  }
  

  .contact_info {
    display: flex;
    padding-left: 30px;
    gap: 40px;
    flex-wrap: wrap;
  }

}
